header{
  padding-top: 10px;


  .navbar-light .navbar-toggler{
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    span{
      color: #ffffff;
    }
  }

  .navbar{
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
    a{
      text-decoration: none;
      padding-bottom: 15px;
    }
    .navbar-nav a:hover{
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    .navbar-nav .active a{
      padding-top: 10px;
    }
    p.site-title{
      font: 400 0.8rem/1.2rem $mont;
      text-transform: uppercase;
      padding: 0;
      display: block;
      width: 85%;
      text-align: center;
    }
    ul{
      display: flex;
      width: auto;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }
    li.nav-item {
      display: inline-block;
      padding-top: 14px;
      text-align: center;
      font: 600 1.1rem/1.1rem $mont;
      text-transform: uppercase;
    }
  }
  .description-front{
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    p.custom-logo{
      margin-bottom: 20px;
    }
    .site-description{
      margin-bottom: 15px;
      display: block;
      font: 700 1.4rem/1.1rem $mont;
    }
    .page-title{
      margin-bottom: 15px;
      font: 700 1.3rem/2rem $mont;
    }
    .phone-wrapper{
      font: 600 1rem/1rem $mont;
      margin-bottom: 25px;
      margin-top: 15px;
      a{
        text-decoration: none;
      }
      &:before{
        content: "\f098"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        margin-right: 15px;
      }
    }
  }
}
.front-header{
  min-height: 480px;
}
.no-border-bottom{
  border-bottom: none;
}
.site-header{
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 768px){
  header{

    .navbar{
      flex-wrap: wrap;
      border-bottom: none;
      padding-bottom: 40px;
      p.site-title {
        font: 400 1.5rem/1.5rem $mont;
        text-align: center;
        width: 100%;
      }
      ul{
        width: 100%;
        border-top: 1px solid #ffffff;
      }
      .navbar-nav .active{
        padding-top: 10px;
        border-top-width: 4px;
        border-top-style: solid;
        border-bottom: 0;
      }
    }
    .description-front{
      .page-title{
        width: 100%;
        margin-bottom: 15px;
        font: 700 2.5rem/2.8rem $mont;
      }
      .phone-wrapper{
        font: 600 1.6rem/1.6rem $mont;
        margin-bottom: 25px;
      }
    }
    p.site-title{
      font: 400 1.5rem/1.5rem $mont;
      text-transform: capitalize;
      margin-bottom: 30px;
      padding: 0 0 10px;
    }
  }

}