.widget-area{
  padding-top: 60px;
  padding-bottom: 40px;
  .search-form{
    .search-field{
      background: #feffff;
      border: 1px solid #000000;
      outline: none;
      padding: 5px;
      width: 100%;
    }
    .search-submit{
      background: #b9bbbb;
      border: 1px solid #000000;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      line-height: 0.9rem;
      margin-top: 10px;
      &:hover{
        background: #ffffff;
        color: #b9bbbb;
      }
    }
  }
  section.widget_search{
    background: #b3c2c1;
    text-align: center;
    padding: 8px;
  }
  .widget{
    background: #ffffff;

    h2.widget-title{
      font: 500 1.2rem/1.2rem $mont;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 8px;
      padding: 8px;
      background: #b3c2c1;
      text-align: center;
      position: relative;
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #b3c2c1 transparent transparent transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
        margin-bottom: -10px;
      }
    }
    ul{
      padding: 25px;
      li{
        text-transform: uppercase;
        font: 500 0.8rem/1.1rem $mont;
        padding: 5px;
        color: #8899a0;
        &:hover{
          color: #40809b;
        }
        a{
          color: inherit;
        }
      }
    }
  }
}