
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {

}

@font-face {

}

@font-face {

}

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$mont: Montserrat;
$header: #729190;

/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Includes
--------------------------------------------------------------*/
@import "parts/reset";
@import "parts/header";
@import "parts/main";
@import "parts/about";
@import "parts/contacts";
@import "parts/front";
@import "parts/footer";
@import "parts/tax-page";
@import "parts/sidebar";
@import "parts/comments";
@import "parts/single";

body{
  font: 400 0.9rem/1rem $mont;
}

